asgiref==3.6.0
backports.zoneinfo==0.2.1
boto3==1.26.89
botocore==1.29.89
Django==4.1.7
django-s3file==5.5.2
django-storages==1.13.2
jmespath==1.0.1
python-dateutil==2.8.2
python-magic==0.4.27
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.3
urllib3==1.26.15
